.Page{
   background: linear-gradient(
  130deg,
  #000000 0%,
  #0f0f0f 25%,
  #1c1c1c 50%,
  #2a2a2a 75%,
  #000000 100%
);
height: 100vh;
width:100vw;
display:flex;
align-items: center;
overflow: hidden;

}

.image-holder{
    height:100%;
    width:35%;
}

.fashion{
    height:100%;
    width:100%;
    object-fit: cover;
    border-top-right-radius: 65%;
    opacity: 0.6;
    filter:brightness(1) contrast(1.5)
}

.login-form-container{
    height:100%;
    width:65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.info-input{
    padding:1.5rem;
    width:26rem
}

.main-form {
  width: 50%;
  min-height: 60%; /* Let it grow based on content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction:column ;
    gap: 2.25rem;
}

.line {
  width: 75%;
  height: 2px;
  background-color: aliceblue;
  opacity: 0.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: none;
 
}

.forgot{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
}

.forgot-password{
    background: linear-gradient(90deg, #d4af37, #ffd700, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
 
}

.submit-login{
    padding:1.5rem;
    width:26rem;
 
    background-color: #FF9F1C;
    color:white;
    border-radius:0.4rem;

}

.header{
    background: linear-gradient(90deg, #d4af37, #ffd700, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}