body{
  margin:0;
}

.App{
  
  height: 100vh;
  width:100vw;
  background: linear-gradient(#010638, #085996);
  display:flex;
  flex-direction: column
}

.women{
   width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
 filter: blur(5px) grayscale(40%) contrast(150%)
}

.overlay-container {
  position: relative;
  width: 100vw;
  height: auto;
  /* overflow: hidden; */

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); /* transparent black overlay */
  transition: 0.3s ease;
  z-index: 1;
}

.content {
  position: absolute;
  z-index: 2;
  color: white;
  bottom: 10%;
  left: 5%;
  font-size: 1.2rem;
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.top{
    
}

.filter {
  position: relative;
  z-index: 1;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  overflow: hidden;
  isolation: isolate; /* key to avoid z-index nightmares */
  width:25%
}
.inside-browse{
  outline: none;
}

.products{
  margin-top:1rem;
}


.filter::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 3px;
  background: conic-gradient(#C0C0C0, #D3D3D3,  #808080, #A9A9A9, #36454F, #708090, #818589, #696969, #DCDCDC, #B2BEB5
, #71797E,#C0C0C0 );
  background-size: 300% 300%;
  animation: shimmer 3s ease-in-out infinite;

  border-radius: 12px;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -1;
  pointer-events: none;
}


@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.subtypes{
  /* border-color: bisque;
  border-style: dashed; */
}

.category-item{
  text-decoration: none;
  color:white
}

.item-container{
  list-style-type: none;
}

h1{
  color:white;
}

.cat-item-holder{
  padding: 0.6rem;
}

.category-item:hover{
  color:#FFD700;
  transform: scale(1.08);
}